<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="./style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title> Weather Application</title>
</head>

	<body>

		<header>
			<div class="cont">
			<h2>Weather Report</h2>
		</div>
		</header>

		

		<!--<div class="container">-->
<div class="container">
	<div class="search">
			<form method="POST">
			<input type="text" placeholder="Search location" name="inputname">
			<button type="submit" ><i class="fa fa-search"></i></button>
			
		</form>
</div>
		<div class="panel panel-default">

			
    <div class="panel-heading" id="p1">
    	<span class="text1"> <i class="fa fa-map-marker" aria-hidden="true"></i>
    	<%=weather.city%>
    </span>
    		
    	</div>

    <div class="panel-heading" id="p2">
    	<span class="text2"> <i class="fa fa-thermometer-half" aria-hidden="true"></i>
    	<%=weather.temp%>° F
    	</span>
    </div>

    <div class="panel-heading" id="p3">
    	<h3> Description</h3>
    	<span class="text1">
    		<div class="image">
    		<img src="http://openweathermap.org/img/w/<%= weather.icon %>.png" alt="Image">
    	</div>
    		<div class="description">
    		<h4>Climate   => <%=weather.description%></h4>
    		<h4>Pressure  =><%=weather.pressure%></h4>
    		<h4>Humidity  =><%=weather.humidity%></h4>
    	</div>
    </span>
    </div>

    <div class="panel-heading" id="p4"> <span class="star">Created By Kushdeep Mittal</span></div>
  </div>

		
</div>
      <!--</div>  --> 
	</body>
	</html>